# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log



# Virtual environments
.venv/
venv/

# Coverage / test
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Environment files (keep only .env.example in repo)
.env
.env.*
!.env.example
